@import '../scss/style.scss';

.header_score,
.header_type-birds {
  display: flex;
  justify-content: space-between;
}

.active-link {
  color: red;
}

.type-birds-buttons {
  text-decoration: none;
}
