@import '../scss/style.scss';

.header_score,
.header_type-birds {
  display: flex;
  justify-content: space-between;
}

.header_score {
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.type-birds-buttons {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;
  &:hover {
    color: #2c4145;
  }
}

.header_type-birds {
  background: cadetblue;
  margin: 10px 0;
  padding: 8px;
  border-radius: 4px;
}

.active-link {
  color: #2c4145;
}
