.true-bird {
  background-color: darkolivegreen;
  // pointer-events: none;
}

.false-bird {
  background-color: darkred;
  // pointer-events: none;
}

.is-next {
  background: cadetblue;
  color: white;
}
